/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estílos de encabezado */

body {
    background-color: #082032;
    font-family: 'Playfair Display', serif;
}

header {
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    padding: 20px;
}

.encabezado {
    padding-right: 0.5em;
    margin: 0.5rem;
}

.imagenLogo {
    display: flex;
    padding: 1.5rem;
    align-items: center;
}

.imagenLogo img {
    height: 120px;
    margin-right: 10px;
}

/* Barra de navegación */

nav {
    text-align: end;
    padding: 1.5rem;
    margin: 1rem;
}


/* Estílos de enlases */

a {
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding-right: 1rem;
}


.imagenLogo:hover {
    transform: scale(1.1);
}

/* Estílos de barra de Navegación */
nav ul li {
    display: inline-block;
}


/* Estílos de main */
.centrodePagina {
    justify-content: center;
    justify-items: center;
    padding: 1rem;
    display: grid;
    grid-template-areas: "h1 h1 h1"
        "imagenP imagenP imagenP"
        "imagenUno imagenDos imagenTres"
        "mainP mainP mainP"
        "imagenS infoDatos infoDatos";
}

h1 {
    grid-area: h1;
    color: white;
    font-size: 12px;
    text-align: center;
    font-size: 2.2rem;
    padding: 0.8rem;
}

.imagenP {
    grid-area: imagenP;
    padding: 0.1rem;
}

.imagenP img {
    height: 800px;
}


.imagenUno {
    grid-area: imagenUno;
    margin: 0.5rem;
}

.imagenUno img {
    height: 200px;
    width: 320px;
}

.imagenDos {
    grid-area: imagenDos;
    margin: 0.5rem;
}

.imagenDos img {
    height: 200px;
    width: 320px;
}

.imagenTres {
    grid-area: imagenTres;
    margin: 0.5rem;

}

.imagenTres img {
    height: 200px;
    width: 320px;
}

.mainP {
    font-family: 'Playfair Display', serif;
    grid-area: mainP;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.imagenS {
    grid-area: imagenS;
}

.imagenS {
    display: flex;
    padding: 2rem;
    margin: 1rem;
    align-items: center;
}

.imagenS img {
    height: 110px;
    margin-right: 10px;
}

.infoDatos {
    grid-area: infoDatos;
}

/* Pie de página texto */
.piedePagina {
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    padding: 20px;
}

.piedePagina P {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0.5rem;
}


/* Derechos de autor */
h4 {
    color: white;
    font-size: 12px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 1rem;
}



/* Estílos Nosotros */

p {
    color: white;
    text-align: center;
}

.imagenEmpresa {
    align-items: center;
}


/* Estílos Galería */

.imagenesGaleria {
    margin: 0px 210px;
}


/* Estílos Contacto */

.imagenMapa {
    margin: 20px 20px;
}


h2 {
    text-align: center;
    text-decoration: underline;
}


.datosdeContacto {
    text-align: center;
}

/* Estílos de Cotización */

.subtituloCotizacion {
    font-size: 25px;
}

.formulario {
    margin: 0px 20px;
    font-size: 18px;
    font-family: 'Lora', serif;
}

/* Mq */

@media screen and (min-width:600px) {
    body {
        background-color: #082032;
    }
}

@media screen and (min-widt:1024px) {
    body {
        background-color: #082032;
    }

}