/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estílos de encabezado */

body {
    background-color: #010a10;
    font-family: 'Playfair Display', serif;
}

header {
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    padding: 20px;
}

.encabezado {
    padding-right: 0.5em;
    margin: 1rem;
}

.imagenLogo {
    display: flex;
    padding: 1.5rem;
    align-items: center;
}

.imagenLogo img {
    height: 120px;
}


/* Barra de navegación */

nav {
    text-align: end;
    padding: 1.5rem;
    margin: 1rem;
}

nav :hover {
    color: rgb(149, 149, 149);
}

/* Estílos de enlases */

a {
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding-right: 1.5rem;
}


.imagenLogo:hover {
    transform: scale(1.1);
}


/* Estílos de barra de Navegación */
nav ul li {
    display: inline-block;
}


/* Estílos de main */
.centrodePagina {
    padding-top: 1rem;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-areas: "imagenP imagenP imagenP"
                         "imagenUno imagenDos imagenTres"
                         "mainP mainP mainP";

}


.imagenP {
    grid-area: imagenP;
}


.imagenP img {
    height: 600px;
}


.imagenUno {
    grid-area: imagenUno;
    margin: 1.5rem;
}


.imagenUno img {
    width: 400px;
}


.imagenDos {
    grid-area: imagenDos;
    margin: 1.5rem;
}


.imagenDos img {
    width: 400px;
}


.imagenTres {
    grid-area: imagenTres;
    margin: 1.5rem;

}


.imagenTres img {
    width: 400px;
}


.mainP {
    font-family: 'Playfair Display', serif;
    grid-area: mainP;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
}


/* Estílos del Footer */
.piedePagina {
    color: white;
    display: grid;
    grid-template-areas: "imagenS infoDatos"
                         "derechosAutor derechosAutor";
}

.imagenS {
    grid-area: imagenS;
    display: flex;
    padding: 2rem;
    margin: 1rem;
    align-items: center;
}

.imagenS img{
    width: 80px;
}

.infoDatos {
    grid-area: infoDatos;
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    justify-content: center;
}

.infoDatos p{
    text-align: center;
}

.derechosAutor{
    grid-area: derechosAutor;
}

h4{
    font-size: 13px;
    text-align: center;
}

/* Estílos Nosotros */

.mainNosotros{
    color: white;
    display: grid;
    grid-template-areas: "imagenEmpresa h1"
                         "imagenEmpresa parrafoNosotros";
}


.imagenEmpresa{
    grid-area: imagenEmpresa;
    display: flex;
    margin: 1.5rem;
}

h1{
    grid-area: h1;
    text-align: center;
}

.imagenEmpresa img{
    width: 650px;
}

.parrafoNosotros{
    grid-area: parrafoNosotros;
    font-size: 1.3rem;
    text-align: center;
    margin: 1.5rem;
}


.imagenEmpresa {
    align-items: center;
}


/* Estílos Galería */

.imagenesGaleria img{
    width: 600px;
    margin: 1.5rem;
    padding: 1rem;
}


/* Estílos Contacto */

.imagenMapa {
   margin: 1.5rem;
   width: 600px;
   height: 600px;
}

.mainContacto{
    color: white;
    display: grid;
    grid-template-areas: "imagenMapa h1"
                         "imagenMapa tituloEmpresa"
                         "imagenMapa datosContacto";
}

.imagenMapa{
    grid-area: imagenMapa;
    display: flex;
    margin: 1.5rem;
    width: 650px;
}

h1{
    grid-area: h1;
    text-align: center;
}

.tituloEmpresa{
    grid-area: tituloEmpresa;
    text-align: center;
    font-size: 1.3rem;
    margin: 1.5rem;
}

.datosContacto{
    grid-area: datosContacto;
    text-align: center;
    font-size: 1.3rem;
    margin: 1.5rem;
}


/* Estílos de Cotización */

.formularioC {
    color: white;
    font-size: 20px;
    
}

/* Mq */

@media screen and (min-width:600px) {
    body {
        background-color: #010a10;
    }
}

@media screen and (min-widt:1024px) {
    body {
        background-color: #010a10;
    }

}